/*================Fonts===================*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@,400;,700;,500&display=swap");
/*================COLORS===================*/
/*========== Font weight ==========*/
/*========== Margin Bottom ==========*/
/*========== Font and typography ==========*/
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #4b5862;
}

h1,
h2,
h3,
h4 {
  color: #1f3f5b;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 2.25rem;
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 1590px;
  margin-left: 3rem;
  margin-right: 3rem;
  position: relative;
}

.header {
  position: relative;
  background: linear-gradient(to bottom, #ff8f70, #ff3d54);
  padding: 2rem 0;
  border-bottom-left-radius: 6rem;

  margin-bottom: 3rem;
}

/* navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo {
  width: 100px;
  margin: auto;
}

.nav .nav_list {
  width: 90%;
}

.nav .nav_list .nav_items {
  display: flex;
  justify-content: flex-start;
}

.nav .nav_list .nav_items .nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.nav .nav_list .nav_items .nav_link a {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.nav .nav_list .nav_items .nav_link a:hover {
  border-bottom: 1px solid white;
}

.nav .nav_list .nav_items .login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
}

.nav .nav_list .nav_items .login .in {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 0;
  color: white;
  margin-right: 1rem;
}

.nav .nav_list .nav_items .login .up {
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border-radius: 2.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  background: white;
  color: #ff3d54;
  padding: 0.5rem 1.5rem;
}

.nav .nav_list .nav_items .login .up:hover {
  background: #ff7081;
  color: white;
}
.overlay {
  position: fixed;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}
.modal {
  height: 80vh;
  width: 40%;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  height: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login__form input {
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px 0;
}
.login__form button {
  width: 50%;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 10px;
  color: white;
  border: 0px;
  background: rgb(9, 198, 138);
}
.show-modal {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  right: 20px;
}
/* hero section */

.hero__section {
  padding-top: 4rem;
}
.hero__section .section__title {
  color: white;
  font-weight: 600;
  font-size: 3rem;
  padding: 0 0.5rem;
}

.hero__section .section__subtitle {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  letter-spacing: 0.5px;
}

.hero__section .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.hero__section .cta .button {
  color: white;
  border-radius: 2.5rem;
  padding: 0.65rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.hero__section .cta .outline {
  border: 2px solid white;
}

.hero__section .cta .outline:hover {
  background: white;
  color: #ff3d54;
}

.hero__section .cta .full {
  border: 2px solid white;
  background: white;
  color: #ff3d54;
}

.hero__section .cta .full:hover {
  background: #ff7081;
  color: white;
  border: 2px solid #ff7081;
}
/* main section */
.main__section {
  max-width: 1000px;
  margin: 0 auto;
}

.main__section .section__title {
  margin-bottom: 2rem;
}

.main__section .row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.main__section .row .main_image {
  margin-bottom: 2rem;
  max-width: 50%;
}

.main__section .row .main_text .col .text_heading {
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.main__section .row .main_text .col .text_paragraph {
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: 300;
  padding: 0 1rem;
  text-align: left;
  font-size: 0.875rem;
  width: 80%;
}

/* Phone section */
.phone__section {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #2c2d3f, #3f4164);
  border-radius: 0 3rem 0 3rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  position: relative;
  flex-direction: row;
  height: 250px;
}

.phone__section .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: space-between;
  justify-self: center;
  max-width: 1290px;
}

.phone__section .container .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone__section .container .phone .phone_image {
  max-width: 360px;
}

.phone__section .row {
  position: relative;
  top: 1rem;
}

.phone__section .row .section__title {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.phone__section .row .main_text .col .text_paragraph {
  color: white;
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: 300;
  padding: 0 1rem;
  text-align: left;
  max-width: max-content;
}
/* footer */
.footer {
  background: #25252d;
  color: #c8c8cb;
  text-align: center;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 0;
  margin: 0 auto;
}

.footer .logo {
  padding: 1.5rem 0;
  max-width: 120px;
}

.footer .links {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.footer .links .link {
  padding: 1rem 0;
}

.footer .links .link h3 {
  color: white;
  padding: 0.25rem 0;
}

.footer .links .link ul li {
  padding: 0.25rem 0;
}
